body {
  background-color: lightblue;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
#line1 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 5px;
  margin: 3px;
}
#line2 {
  font-family: 'Oleo Script', cursive;
  font-size: 350%;
  margin: 3px;
}
.gallery-row {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
article {
  display: flex;
}
div {
  margin: 5px;
}
img {
  height: 200px;
  width: 300px;
}

@media screen and (max-width: 1024px){
.gallery-row{
  flex-direction: column;
}
article{
  justify-content: center;
}
}
@media screen and (max-width: 520px){
nav {
  flex-direction: column;
}
article{
  align-items: center;
  flex-direction: column;
}
}
